nav{
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.288) !important;
    z-index: 1;
    }
    .logo{
    width: 40px;
    border-radius: 50%;
    padding: 0px;
    
    }
    nav .nav-link{
    color: white !important;
    }
    .nav-item{
    margin-left: 20px;
    }
    .dropdown-item{
    color: black !important;
    }
    .nav-item,li,a:hover{
    color: blue !important;
    }
    /* end of nav styles */

.footer{
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    min-height: 15vh;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#firstrow, .container{
    background-image: url('/room-booking/images/bedsitters/simone-dalmeri-_k5CULH5SFA-unsplash.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img-top{
    height: 250px;
    width: 300px;
    text-align: center;
}

h1,h3,p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

.col-4{
    padding-bottom: 20px;
}

h1{
    padding: 10px;
}

#mario{
    margin-left: 50px;
    bottom: 0px;
    width: 20px;
    height: 20px;
}

label{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}