body{
    background-color: rgba(0, 0, 255, 0.075);
}




/* end of nav styles */
#header{
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 70vh;
}
.home-info{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    object-fit: cover;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* the main navigation section */
.roomsMain{
    justify-content: space-around;
   }
   .roomSelection, h3, h4{
       text-align: center;
       padding: 2vh;
   }
   .myImages{
       width: 100%;
       height: 40vh;
       background-position: center;
       background-size: cover;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
   }

   .roomsMain .card:hover{
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       background-color: rgba(0, 0, 255, 0.021);
   }
   .card-footer{
       display: flex !important;
       justify-content: center !important;
    } 
   
    .initiallyHidden1,.initiallyHidden2,.initiallyHidden3{
     background-color: rgba(0, 0, 0, 0.651);
     width: 100%;
     height: 100%;
     padding: 10%;
     display: none ;
    }
    .navButton{
        background-color: rgba(0, 0, 255, 0.342) !important;
        padding-top: auto; 
        margin-top: 15%;
        zoom: 1.8;   
    }

   /* media quaries to rearrange the toppings on different screens */
   @media screen and (max-width: 750px) {
       #card{
           width: 90% !important;
           float: left !important;
           margin-top: 2vh;
           padding: 2vh;
       }
   }
   /* happy clients section */
   section h4{
       text-align: center;
   }
   .card-img{
       border-radius: 50% !important;
       width: 70% !important;
       margin: 15%;
   }
   /* the landing page footer */
   .footer{
       background-color: rgba(0, 0, 0, 0.589);
       color: white;
       min-height: 15vh;
       display: block;
       justify-content: center;
       align-items: center;
       text-align: center;
   }
